<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cyber Incident Response{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="{% block body_class %}light-mode{% endblock %}">
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if session.get('username') %}
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('simulate') }}">Simulate</a></li>
                    <li><a href="{{ url_for('report') }}">Reports</a></li>
                    <li><a href="{{ url_for('playbook') }}">Playbook</a></li>
                    <li><a href="{{ url_for('resources') }}">Resources</a></li>
                    <li><a href="{{ url_for('glossary') }}">Glossary</a></li>
                    <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
                    <li><a href="{{ url_for('recommendations') }}">Recommendations</a></li>
                    <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
                    <li><a href="{{ url_for('nist_guidance') }}">NIST Guidance</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>Cyber Incident Response  &copy; 2024</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
